@keyframes hoverUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.logo-container .logo-svg {
  animation: hoverUpDown 1.9s linear infinite;
}
